@charset "UTF-8";
:root {
  --button-color-blue: #2196F3;
  --background-color-white: #ffffff;
  --background-color-dark: #2F303A;
  --background-color-light: #ECECEC;
  --background-color-team: #F5F4FA;
  --main-text-color-gray: #757575;
  --main-text-color-black: #212121;
  --logo-text-color-blue: #2196F3;
  --logo-text-color-black: #212121;
  --hover-focus-color-blue: #2196F3;
  /* font */
  --primary-font: "Roboto", sans-serif;
  /* animation */
  --trns-fast: 250ms;
  --trns-slow: 2500ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--background-color-white);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-button {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: var(--button-color-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition-property: background-color;
  transition-duration: var(--trns-fast);
}
.modal-button:hover, .modal-button:focus {
  background-color: #188CE8;
}

.modal-form__send--button {
  margin: auto;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background: var(--button-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 28px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-btn:hover .modal__close-btn-icon {
  fill: var(--hover-focus-color-blue);
}

.footer__form-button {
  width: 200px;
  height: 50px;
  background: var(--button-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 28px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .footer__form-button {
    margin-right: auto;
    margin-left: auto;
  }
}

.portfolio-nav__btn {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color-black);
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: background-color color box-shadow;
  transition-duration: var(--trns-fast);
}
.portfolio-nav__btn:hover, .portfolio-nav__btn:focus {
  background-color: var(--hover-focus-color-blue);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  background-color: var(--background-color-white);
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 91px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo-text {
  color: var(--logo-text-color-black);
}

/* nav */
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    margin-right: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
    margin-right: 315px;
  }
}

/*    Посилання на mail     */
@media screen and (max-width: 767px) {
  .header__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    flex-direction: row;
  }
}

.header__mail-item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__mail-item {
    margin-right: 30px;
  }
}

.header__icons-mail {
  transition-property: fill;
  transition-duration: var(--trns-fast);
}
@media screen and (min-width: 1200px) {
  .header__icons-mail {
    width: 16px;
    height: 12px;
  }
}

.header__icons-phone {
  transition-property: fill;
  transition-duration: var(--trns-fast);
}
@media screen and (min-width: 1200px) {
  .header__icons-phone {
    width: 12px;
    height: 16px;
  }
}

.header__mail-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-gray);
  transition-property: color;
  transition-duration: var(--trns-fast);
}
@media screen and (min-width: 1200px) {
  .header__mail-link {
    font-size: 14px;
  }
}
.header__mail-link:hover, .header__mail-link:focus {
  color: var(--hover-focus-color-blue);
}
.header__mail-link:focus, .header__mail-link:hover .header__icons {
  fill: #188CE8;
}

.header__phone-item {
  display: flex;
  align-items: center;
}

.header__phone-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-gray);
  transition-property: color;
  transition-duration: var(--trns-fast);
}
@media screen and (max-width: 1199px) {
  .header__phone-link {
    font-size: 12px;
  }
}
.header__phone-link:hover, .header__phone-link:focus {
  color: var(--hover-focus-color-blue);
}
.header__phone-link:focus, .header__phone-link:hover .header__icons {
  fill: #188CE8;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color-blue);
}

.logo__text--invert {
  color: #FFFFFF;
}

.hero-section {
  padding: 118px 0 118px 0;
  margin: auto;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero_mob1.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero_mob2.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero_tab1.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero_tab2.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero_desk1.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 200px 0 200px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.4)), url("../images/hero_img/hero_desk2.jpg");
  }
}

.hero-title {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--background-color-white);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
  }
}

.feature__item {
  height: 226px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
    height: 224px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
    height: 248px;
  }
}
@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feature__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.feature__icons {
  display: block;
}

.feature__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color-black);
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    text-align: left;
  }
}

.feature__deskription {
  line-height: 1.71;
  color: var(--main-text-color-gray);
  margin-top: 10px;
}

.we-do-section {
  padding-top: 0;
}
@media (max-width: 1199px) {
  .we-do-section {
    display: none;
  }
}

.we-do-section__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--main-text-color-black);
}

.we-do-section__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team-section {
  background-color: var(--background-color-team);
}

.team-section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  color: var(--main-text-color-black);
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}

.team-section__item {
  width: 100%;
  height: auto;
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-section__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-section__item {
    width: 354px;
    height: 536px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__item {
    width: 270px;
    height: 428px;
  }
}
@media screen and (max-width: 767px) {
  .team-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-section__description {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .team-section__description {
    padding: 30px 0;
  }
}

.team-section__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color-black);
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.team-section__post {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color-gray);
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition-property: background-color fill;
  transition-duration: var(--trns-fast);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}
.social-list__link:hover .social-list__icon {
  fill: #fff;
}
.social-list__link:focus .social-list__icon {
  fill: #fff;
}

.social-list__icon {
  fill: currentColor;
  transition-property: background-color fill;
  transition-duration: var(--trns-fast);
}

.clients__title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
  }
}

.clients__item {
  height: 92px;
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition-property: color border-color;
  transition-duration: var(--trns-fast);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--hover-focus-color-blue);
  color: var(--hover-focus-color-blue);
}

.clients__icon {
  fill: currentColor;
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .portfolio-nav {
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-nav {
    width: 575px;
    margin: auto;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    justify-content: center;
  }
}

.portfolio__item {
  display: inline-block;
}

.portfolio__link {
  display: block;
  transform: box-shadow;
  transition-duration: var(--trns-fast);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay-box, .portfolio__link:focus .portfolio__overlay-box {
  transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: var(--trns-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-deskription {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio__deskription {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio__title {
  text-transform: capitalize;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio__paragraf {
  text-transform: capitalize;
  color: var(--main-text-color-gray);
  padding-top: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.footer {
  display: block;
  background-color: var(--background-color-dark);
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_tablet-container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer_tablet-container {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    justify-content: space-between;
    align-items: baseline;
  }
}

.address {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-style: normal;
}

.address__list {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .address__list {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    display: flex;
    flex-direction: column;
  }
}

.address__link {
  line-height: 1.7;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: var(--trns-fast);
}
.address__link:hover, .address__link:focus {
  color: var(--button-color-blue);
}

.address__mail-item {
  margin-top: 9px;
}

.address__mail-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-gray);
  transition-property: color;
  transition-duration: var(--trns-fast);
}
.address__mail-link:hover, .address__mail-link:focus {
  color: var(--button-color-blue);
}

.address__phone-item {
  margin-top: 9px;
}

.address__phone-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-gray);
  transition-property: color;
  transition-duration: var(--trns-fast);
}
.address__phone-link:hover, .address__phone-link:focus {
  color: var(--button-color-blue);
}

.footer__social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social-links {
    margin-top: 0;
  }
}
.footer__social-links-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.footer__social-links-list {
  display: flex;
  gap: 10px;
}

.footer__social-links-invert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--trns-fast);
}
.footer__social-links-invert:hover, .footer__social-links-invert:focus {
  background-color: #2196F3;
}

.footer__social-links-icons {
  fill: currentColor;
}

.footer__form {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer__form {
    align-items: center;
    margin-top: 60px;
  }
}

.footer__form-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__form-label {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__form-label {
    flex-direction: column;
    align-items: center;
  }
}

.footer__form-input {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #FFFFFF;
  margin-bottom: 20px;
  transition: var(--trns-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer__form-input:hover, .footer__form-input:focus {
  outline: inherit;
  border-color: var(--hover-focus-color-blue);
}

.footer__form-icon-send {
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--trns-fast) linear, visibility var(--trns-fast) linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    height: 581px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form__fild {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.modal-form__fild:hover, .modal-form__fildfocus .modal-form__icon {
  fill: #2196F3;
}

.modal-form__label-title {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: var(--trns-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: #188CE8;
  outline: #188CE8;
}
.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196F3;
}

.modal-form__icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 50%;
  transition: var(--trns-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: #2F303A;
}
.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: #188CE8;
  outline: #188CE8;
}

/* CHECKBOX */
.modal-form__chekbox {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  height: 24px;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: var(--trns-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon {
  background-color: var(--button-color-blue);
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: #2196F3;
  border-radius: 2px;
}

.checkbox__title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__agreement {
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.nav__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 52px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-duration: var(--trns-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--hover-focus-color-blue);
}
.nav__link--current {
  color: #2196F3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--button-color-blue);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--hover-focus-color-blue);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.mobile-menu__link--current {
  color: #2196F3;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--hover-focus-color-blue);
}

.mobile-menu__contacts--item {
  margin-bottom: 32px;
}

.mobile-menu__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 64px;
  gap: 20px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  gap: 10px;
}

.mobile-menu__list:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: relative;
  right: auto;
  left: 10px;
  width: 100%;
  height: 1px;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */