.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    padding: 0;
    margin-top: 50px;

    @media screen and (min-width: $desktop) {
        justify-content: center;
    }
}

.portfolio__item {
    display: inline-block;

}

.portfolio__link {
    display: block;

    transform: box-shadow;
    transition-duration: var(--trns-fast);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .portfolio__overlay-box,
    &:focus .portfolio__overlay-box {
        transform: translateY(0);
    }
}
.portfolio__thumb {
    position: relative;
    overflow: hidden;

}

.portfolio__overlay-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transform: translateY(101%);
    transition: var(--trns-fast) cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__overlay-deskription {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.portfolio__deskription {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio__title {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
.portfolio__paragraf {
    text-transform: capitalize;
    color: var(--main-text-color-gray);
    padding-top: 4px;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}