.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}
.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;

    transition-property: background-color fill;
    transition-duration: var(--trns-fast);

    &:hover,
    &:focus {
        background-color: #2196F3;
    }

    &:hover .social-list__icon {
        fill: #fff;
    }
    &:focus .social-list__icon {
        fill: #fff;
    }
}
.social-list__icon {
    fill: currentColor;

    transition-property: background-color fill;
    transition-duration: var(--trns-fast);
}
