.we-do-section {
    @media (max-width: 1199px) {
        display: none;
    }
    padding-top: 0;
}
.we-do-section__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    color: var(--main-text-color-black);
}
.we-do-section__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
// .we-do-section__wrapper {
//     position: relative;
// }
// .we-do-section__overlay {
//     font-weight: 700;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     letter-spacing: 0.03em;
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 70px;
//     background: rgba(47, 48, 58, 0.8);
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
